<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title" style="text-align: center">Mật khẩu mới</div>
            </div>

            <div style="padding-top:30px" class="panel-body" >
                <form action="/user/resetpass" method="post" class="form-horizontal">

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>

                        <!--<input type = "hidden" id = "auth" name = "auth" value="{{auth}}">-->
                        <!--<input id="password" type="password" class="form-control" name="password" placeholder="New Password">-->
                        <input type = "hidden" id = "auth" name = "auth" value="{{auth}}">
                        <input placeholder="Mật khẩu mới" type="password" id="password" name="password" class="form-control">
                    </div>

                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->

                        <div class="col-sm-12 controls">
                            <!--<a style="background-color: #357ebd " id="btn-fblogin" href="#" class="btn btn-primary">Reset Password</a>-->
                            <button style="background-color: #357ebd " type="submit" class="btn btn-primary">Reset</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>