<div class="row">
    <div class="col-md-4 col-md-offset-4">
<form action="/user/verify/:id" method="post">
    <button type="submit" class="btn btn-primary">Đăng ký</button>
</form>
    </div>
</div>