<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-lg-6">
                    <div class="well bs-component">
                        <div id="success" class="alert alert-success" {{#unless  successMsg}}  hidden {{/unless}}>
                            {{ successMsg }}
                        </div>
                        <div id="err" class="alert alert-danger" {{#unless  errMsg}}  hidden {{/unless}}>
                            {{ errMsg }}
                        </div>
                        <form class="form-horizontal" action="/category/add" method="post">
                            <fieldset>
                                <legend>Legend</legend>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="title">Tên</label>
                                    <div class="col-lg-10">
                                        <input class="form-control" id="title" name="title" class="form-control"
                                               value="{{title}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="description">Mô tả</label>
                                    <div class="col-lg-10">
                                        <input class="form-control" id="description" name="description"
                                               class="form-control" value="{{description}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">


                                            <button type="submit" class="btn btn-primary">Tạo</button>

                                    </div>
                                </div>


                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
