
<div class="container" id="contentProduct">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
            <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
                {{ successMsg }}
            </div>
        </div>
    </div>
</div>

<div style="text-align: center; font-weight: bold" class="paging-button" id="pagingGroup">

</div>
<script src="/client/js/loadProductByPage.js"></script>


